# Application
APP_MODE="local" # local, dev, prod

# Swagger (dev, local profile에서만 활성화)
SWAGGER_USERNAME=""
SWAGGER_PASSWORD=""

# JWT
JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRATION_TIME="30m"
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRATION_TIME="7d"

# Redis
REDIS_HOST=""
REDIS_PORT="6379"
REDIS_PREFIX=""
REDIS_USERNAME=""
REDIS_PASSWORD=""

# Database (PostgreSQL)
DB_URL="jdbc:postgresql://localhost:5432/sanboongi
DB_USERNAME="postgres"
DB_PASSWORD=""

# R2
R2_URL=""
R2_PUBLIC_BUCKET=""
R2_PRIVATE_BUCKET=""
R2_ACCESS_ID=""
R2_ACCESS_SECRET=""

SOCIAL_APPLE_CLIENT_ID=""